body{
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

section{
  padding: 1rem;
  width: 70vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

aside{ 
  padding: 1rem;
  background-color: #F4F4F4;
  box-shadow: -10px 0px 34px -23px rgba(0,0,0,0.75);
  width: 20vw;
  height: 100vh;
  box-sizing: content-box;
  position: fixed;
  right: 0;
}

aside div{
  display: flex;
  justify-content: space-around;
  width: inherit;
}

article{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #1E2534;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
 
}

article div{
  display: flex;
  justify-content: space-around;
  height: 8%;
  padding-bottom: 5%;
}

article p {
  font-size: 2rem;
  padding: 0 10px;
}

article small{
  padding: 0 10px;
  
}

article input{
  height: 100%;
  border-radius: 8px;
  border: none;
}
article button{
  background-color: #2CC5FA;
  border: none;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.3s ease;
}

button:hover{
  opacity: 0.8;
}

#total{
  position: fixed;
  bottom: 0;
  display: flex;
  width: inherit;
  justify-content: space-between;

}